<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <properties>
        <property name="fileName">logs/applicationLog.log</property>
        <property name="filePattern">logs/applicationLog-${date:yyyyMMdd-HHmmss}.log</property>
        <property name="patternLayout">%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</property>
    </properties>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternLayout}"/>
        </Console>
        <RollingFile name="file" fileName="${fileName}"
                     filePattern="${filePattern}"
                     ignoreExceptions="false">
            <PatternLayout pattern="${patternLayout}"/>
            <Policies>
                <OnStartupTriggeringPolicy minSize="0"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="applicationLog-*.log">
                        <IfAny>
                            <IfAccumulatedFileCount exceeds="10" />
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>
        <Async name="asyncFile" bufferSize="80">
            <AppenderRef ref="file"/>
        </Async>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="console" level="debug"/>
            <appender-ref ref="asyncFile" level="debug"/>
        </root>
    </loggers>
</configuration>