.textfield{
    -fx-pref-width: 300;
}

.url-textfield{
    -fx-pref-width: 400;
}

.filter{
    -fx-pref-width: 300;
    -fx-padding: 0 0 0 0;

}

.test{
    -fx-padding: 0 50 0 60;

}

.filter-section{

    -fx-padding: 10 0 10 10;

    -fx-border-color: #d3d3d3;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.side{
    -fx-padding:30 30 30 30;
}