.mainBox {
    -fx-padding: 30 30 30 30;
}

.small-textfield {
    -fx-pref-width: 10;
    -fx-max-width: 10;
}

.small-textfield {
    -fx-pref-width: 60;
    -fx-max-width: 60;
}

.previewPane{
    -fx-min-width: 640;
    -fx-pref-width: 640;
    -fx-max-width: 640;

    -fx-min-height: 360;
    -fx-pref-height: 360;
    -fx-max-height: 360;

    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.button{
    -fx-pref-height: 20;
    -fx-pref-width: 240;
}

.bigButton{
    -fx-pref-height: 20;
    -fx-pref-width: 640;
}

.textfield{
    -fx-pref-width: 210;
    -fx-min-width: 210;
}

.small-textfield{
    -fx-pref-width: 50;
    -fx-min-width: 50;
}

.medium-textfield{
    -fx-pref-width: 80;
    -fx-min-width: 80;
}

.color-picker{
    -fx-pref-width: 90;
    -fx-min-width: 90;
}

.settingsBox{
    -fx-padding: 10 10 10 10;
}

.borderSection{
    -fx-padding: 5;

    -fx-border-color: #d3d3d3;
    -fx-border-width: 1;
    -fx-border-style: solid;
}